h1, h2, h3, a{
	font-family: 'Sen', sans-serif;
}

body{
	background-color: #fffbd5;
}

.topBar{
	background-color: dodgerblue;
	position: relative;
	top: -22px;
	width: 100vmax;
}

#homePageTitle {
	position: absolute;
	text-align: center;
	width: 99%;
	font-size: 15vmax;
	display: none;
}
#homePageImage{
	display:none; 
	width:100vmax;
	position: fixed;
	z-index: -1;
}

.homeButtons {
	display: none;
	position: absolute;
	text-align: center;
	padding: 3vmax;
	text-decoration: none;
	top: 57vmax;
	border: solid 4px black;
	backdrop-filter: blur(10px);
}

#homeButtonsOne {
    left: 20vmax;
    top: 28vmax;
    right: 20vmax;
    border-radius: 5vmax;
}

.navBar h1, .navBar h2{
	text-align: center;
}
/*
.navBar {
	padding-top: 1vmax;
	padding-right: 1vmax;
	display: block;
	background-color: #c4fffa;
	width: 100%;
	height: 100%;
	position: relative;
	right: 8px;
}
*/
.navBar ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.navBar li {
	display: inline-flex;
}

.navBar a {
	text-decoration: none;
	padding-right: 10vmax;
	padding-left: 10vmax;
}

iframe {
	width: 96vmax;
	height: 35vmax;
	border: solid 4px black;
	background: #eee;
	z-index: 1;
}

table {
	font-family: 'Sen', sans-serif;
	border-collapse: collapse;
	text-align: center;
}

th {
	background-color: #c4c4c4;
	border: 1px solid black;
	width: 10vmax;
}

td{
	border: 1px solid black;
}

.inputFields{
	text-align: center;
}

.inputFields .userDetailsClass{
	font-size: 2vmax;
}

.editColumn{
	border: 0px;
	background-color: #ffffff00;
}

/*
.userCard {
	box-shadow: 0 0 35px #ccc;
	border-radius: 3vmax;
}
*/

.userPageText {
	text-align: left;
	font-size: 2.5vmax;
	position: relative;
	left: 2vmax;
	bottom: 2vmax;
}

.userPageName {
	text-align: left;
	position: relative;
	left: 2vmax;
}

.userImagePlaceholder {
	height: 10vmax;
	width: 10vmax;
	border-radius: 5vmax;
	background-color: #6298c7;
	position: relative;
	top: 2vmax;
	left: 2vmax;
}

.upload {
	text-align: center;
	padding: 4vmax;
}

.optionsPannel li{
	list-style-type: none;
	display: inline;
}

.siteName a{
	float: left;
	text-decoration: none;
} 

.optionsPanel a{
	float: right;
	text-decoration: none;
}

.slick-slide {
	height: 35vmax;
}
.carousel {
	width: 90vmax !important;
	margin: auto;
}

.slick-next:before, .slick-prev:before{
	color: black;
}

.randomFilmImageWrapper{
	text-align: center;
}