doctype html

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type="text/javascript" charset="utf8" src="/DataTables/datatables.js")

link(href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="../slick/slick.css")
link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
link(rel="stylesheet" type="text/css" href="/DataTables/datatables.css")

style
	include ../../stylesheet.css

div(class='topBar')
	div(class='siteName')
		a(href='/') Chinyelu's Site
	
	div(class='optionsPanel')
		a(class='hideIfLoggedIn' href="/signUp") Sign Up
		a(class='hideIfLoggedIn') /
		a(class='hideIfLoggedIn' href="/logIn") Log In
		a(class='logOutButton showIfloggedIn' style='display: none;' href="/") Log Out
			
	div(class='navBar')
		h1 #{pageName} 
		
		ul
			li
				a(href="/") Home
			li
				a(class='showIfloggedIn' style='display: none;' href="/user") Me
			li
				a(href="/gallery") Gallery
			li
				a(href="/randomFilm") Random Film

script(type='text/javascript').
	$.get('/ajaxCheckLoggedIn',
		{
			currentToken: document.cookie
		},
		function(data, status){

			if(data.loggedInAs){
				console.log('logged in as '+data.loggedInAs);
				$('.showIfloggedIn').css('display', 'block');
				$('.hideIfLoggedIn').css('display', 'none');
			}
		});
	$('.logOutButton').click( function(){
		console.log('token=; expires='+Date()+';');
		document.cookie = 'token=; expires='+Date()+';';
	});

