doctype html

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type="text/javascript" charset="utf8" src="/DataTables/datatables.js")

link(href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="../slick/slick.css")
link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
link(rel="stylesheet" type="text/css" href="/DataTables/datatables.css")


style
	include ../testStyle.css